body {
    background: #eee;
    color: #666;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.login-container {
    height: 100vh;
    width: 100%;
}

.login-form {
    max-width: 100%;
    width: 370px;
    padding: 15px;
    margin: auto;
}

.form-control{
    font-size: 15px;
    min-height: 48px;
    font-weight: 500;
}

.form-control:focus{
    border-color: lightcoral;
    box-shadow: 0 0 0 0.2rem lightcoral;
}

.forgot-link{
    font-size: 13px;
}

.forgot-link label{
    margin-bottom: 0
}

.login-form a{
    text-decoration: none;
    color: black
}

.login-form a:hover{
    color: lightcoral;
}

.btn-custom{
    background: lightcoral;
    border-color: lightcoral;
    color: white;
    font-size: 15px;
    font-weight: 600;
    min-height: 48px;
}